<div class="demo-avatar-dropdown">
  <h6>Payment Processing</h6>
  <span>Range</span>
  <div class="mdl-layout-spacer"></div>

</div>
<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">


  <label> <input type="checkbox" (change)="selectAll()"> All</label><br />
  
  <!--<li *ngFor="#obj of objectArray">
  </li>-->
    
    <!--<label for="">
      <input type="checkbox" (change)="expression && expression[obj.name] = $event.target.checked ? true : undefined" [ngModel]="allSelected"> 
        {{obj}}
    </label>-->
    <!--<div>
      <div (change)="selectedActionChange($event)">
        <input type="checkbox" *ngFor="#opt of optionList" />{{ opt }}
      </div>
    </div>-->

    <li *ngFor="let time of myData">
        {{time.name}}
        <ul>
          <li *ngFor="let item of time.values" >
            <tree-node [name]="item.name" [value]="true" (checked)="checked()"></tree-node>
          </li>
          <br />
        </ul>
    </li>
    <br />


</nav>