<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button">
        <i class="material-icons">menu</i>
      </div>
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <app-search></app-search>
  <main class="mdl-layout__content">
    <div class="page-content">
      <app-dashboard></app-dashboard>
    </div>
  </main>
</div>