   <div class="mdl-grid demo-content">
      <div class="demo-graphs  mdl-color--white mdl-cell mdl-cell--12-col">
       
      <table class="mdl-data-table mdl-js-data-table" style='width:100%'>
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric full-width">Status</th>
              <th>Date Range</th>
              <th>Type</th>
              <th># of payments</th>
              <th>User</th>
               <td>Lorem</td>
              <th>Options</th><th></th><th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Inquiry</td>
              <td>25</td>
              <td>---</td>
              <td>$2.90</td>
              <td>AJR</td>
               <td>Lorem</td>
              <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">streetview</i>View</a></td>
                <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>Edit</a></td>
                <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Delete</a></td>
              
            </tr> 
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Batch</td>
              <td>50</td>
              <td>---</td>
              <td>$1.25</td>
              <td>AJR</td>
               <td>Lorem</td>
              <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">streetview</i>View</a></td>
                <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>Edit</a></td>
                <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Delete</a></td>
              
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Batch</td>
              <td>10</td>
              <td>---</td>
              <td>$2.35</td>
              <td>AJR</td>
              <td>Lorem</td>
              <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">streetview</i>View</a></td>
                <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>Edit</a></td>
                <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Delete</a></td>
            </tr>
             <tr>
              <td class="mdl-data-table__cell--non-numeric">Batch</td>
              <td>10</td>
              <td>---</td>
              <td>$2.35</td> 
              <td>AJR</td>
              <td>Lorem</td>
              <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">streetview</i>View</a></td>
                <td><a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>Edit</a></td>
                <td><a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">delete</i>Delete</a></td>
                
            </tr>
          </tbody>
      </table>
    </div>
          <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
              <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                  <div class="mdl-tabs__tab-bar">
                  <a href="#twelve" class="mdl-tabs__tab is-active">12:00</a>
                  <a href="#one" class="mdl-tabs__tab">1:00</a>
                  <a href="#two" class="mdl-tabs__tab">2:00</a>
                  <a href="#three" class="mdl-tabs__tab">3:00</a>
                  <a href="#four" class="mdl-tabs__tab">4:00</a>
                  <a href="#five" class="mdl-tabs__tab">5:00</a>
                  <a href="#six" class="mdl-tabs__tab">6:00</a>
                  <!--<a href="#seven" class="mdl-tabs__tab">7:00</a>
                  <a href="#eight" class="mdl-tabs__tab">8:00</a>
                  <a href="#nine" class="mdl-tabs__tab">9:00</a>
                  <a href="#ten" class="mdl-tabs__tab">10:00</a>
                  <a href="#eleven" class="mdl-tabs__tab">11:00</a>-->

                </div>

                <div class="mdl-tabs__panel is-active" id="twelve">
                  <ul>
                    <li>Eddard</li>
                    <li>Catelyn</li>
                    <li>Robb</li>
                    <li>Sansa</li>
                    <li>Brandon</li>
                    <li>Arya</li>
                    <li>Rickon</li>
                  </ul>
                </div>
              <div class="mdl-tabs__panel" id="one">
                <ul>
                  <li>Tywin</li>
                  <li>Cersei</li>
                  <li>Jamie</li>
                  <li>Tyrion</li>
                </ul>
              </div>
              <div class="mdl-tabs__panel" id="two">
                <ul>
                  <li>Viserys</li>
                  <li>Daenerys</li>
                </ul>
              </div>
            </div>
            <!--<svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
              <use xlink:href="#chart" />
            </svg>-->
            <svg fill="currentColor" viewBox="0 0 700 200" class="demo-graph">
              <use xlink:href="#chart" />
            </svg>
          </div>
          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-separator mdl-cell--1-col"></div>
          </div>
        </div>